.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
#row{
  display: inline-block;
}
.ftr{
  text-align: center;
  background-color: #212322;
  font-weight: bolder;
}
.jumbotron{
  background-image: url("https://media1.giphy.com/media/l2Sq8hfsfy0RPQgs8/giphy.gif");
  background-size:auto;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.rpt{
  height: 300px;
  background-repeat: no-repeat;
  margin-left: 500px;
}
